Package: r7mtaserver
Version: 2025.1.0.000
Architecture: amd64
Maintainer: АО "Р7" <support@r7-office.ru>
Installed-Size: 557
Depends: adduser, openssl, debconf, logrotate, ed, libc6 (>= 2.34), libmicrohttpd12 (>= 0.9.70), libjansson4, libpq5, libdb5.3, libicu72 (>= 72.1~rc-1~), libunbound8 (>= 1.17.1), libnsl2 (>= 1.0), libsasl2-2 (>= 2.1.28+dfsg), libssl3 (>= 3.0.19), libsasl2-2, libpcre3, libdb5.3, libldap-2.5-0, libmariadb3, libsqlite3-0, libcdb1, liblzma5, zlib1g, libbz2-1.0, liblz4-1, libzstd1, libicu72, libxml2, libpam0g, libcap2, libaudit1, libselinux1, libwrap0
Conflicts: mail-transport-agent, smail, exim4-base, exim4-daemon-heavy, exim4-daemon-light
Replaces: mail-transport-agent, postfix
Provides: mail-transport-agent
Section: mail
Priority: optional
Homepage: https://r7-office.ru/
Description: R7 - Mailserver UI.
